@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Regular.woff2') format('woff2'),
        url('RobotoMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Light.woff2') format('woff2'),
        url('RobotoMono-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Bold.woff2') format('woff2'),
        url('RobotoMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Italic.woff2') format('woff2'),
        url('RobotoMono-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Mono';
    src: url('RobotoMono-Medium.woff2') format('woff2'),
        url('RobotoMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

