<!DOCTYPE html>
<html>
<head>
    <title>GT Check</title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gtcheck.css') }}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<div class="container">
    <h1 class="heading center">GT Check Setup</h1>
    <h4>There are no modified Ground Truth files in this branch!</h4>
    <button type="button" class="btn waves-effect waves-light" onclick="window.location.href='{{ url_for('index') }}';">Back to ground truth selection!</button>
</div>
</body>
</html>