<!DOCTYPE html>
<html>
<head>
    <title>GT Check</title>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/gtcheck.css') }}">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="/static/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/js/materialize.min.js"></script>
<script>
        $(document).ready(function() {
        $('select').material_select();
        });

</script>
<script>
  $(document).ready(function() {
    Materialize.updateTextFields();
  });
</script>
<div style="margin-left: 15px; margin-right: 15px;">
    <h1 class="heading center">GT Check Setup</h1>
</div>

<div class="container">
    <h4>Git credentials</h4>
    <br>
    <form id="gtcheck-form" action="{{ url_for('gtcheckinit') }}" method="POST" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s6">
                <input type="text" id="name" name="name" value="{{ name }}">
                <label for="name">Name</label>
            </div>
            <div class="input-field col s6">
                <input type="text"  id="email" name="email" value="{{ email }}">
                <label for="email">Email</label>
            </div>
        </div>
    <h4>Repository and Branch</h4>
    <br>
    <div>
        <label for="repo">Directory</label>
        <input type="text" id="repo" value="{{ repo }}" name="repo" readonly>
    </div>
    <div>
        <label for="branches">Selected branch</label>
        <select name="branches" id="branches">
            {% for branch in branches %}
            <option value="{{ branch.name }}" {% if branch.name== active_branch.name %} selected="selected" {% endif %}>
                {{ branch.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <!-- Switch -->
        <label for="checkout">Checkout to new branch</label>
        <div class="switch" id="checkout">
            <label>
                Off
                <input type="checkbox" name="checkout">
                <span class="lever"></span>
                On
            </label>
        </div>
        <input id="new_branch" type="text" class="validate" name="new_branch" value="">
    </div>
    <button class="btn waves-effect waves-light" type="submit">Start</button>
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
        {% endif %}
</div>

</body>
</html>